@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #004890;
  --primary-light: #0063c1;
  --primary-dark: #003b73;

  --secondary: #ff6600;
  --secondary-light: #ff8533;
  --secondary-dark: #cc5200;

  --accent: #ffc72c;
  --accent-light: #ffd35e;
  --accent-dark: #d9a400;

  --background: #f8fafc;
  --background-dark: #0f172a;
}

@layer base {
  body {
    @apply bg-background text-neutral-900;
  }
}

@layer components {
  .tab-panel {
    @apply py-4;
  }
}
